<h4 ng-if="vm.auth.isAuthenticated()">
    You are logged in! Please access one of these options to consult the list of customers:<br/>

    <button
    class="btn btn-success btn-margin btn-block"
    ng-click="vm.getBasicCustomers()">
      Customers
    </button>

    <button
    class="btn btn-warning btn-margin btn-block"
    ng-click="vm.getHotCustomers()">
      Customers Hot
    </button>

    <div>
      {{vm.customers}}
    </div>

</h4>
<h4 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>