<h4 ng-if="vm.auth.isAuthenticated()">
    You are logged in! Please access one of these options to consult the list of customers:<br/>

    <button
    class="btn btn-success btn-margin btn-block"
    ng-click="vm.getBasicCustomers()">
      Customers
    </button>

    <button
    class="btn btn-warning btn-margin btn-block"
    ng-click="vm.getHotCustomers()">
      Customers Hot
    </button>
    <br>
    <div>
      <div class="alert alert-warning" ng-if="vm.showBlockedWarning">
        <strong>Warning!</strong>
        The user has insuficient privileges to see the customers. <br/> Please contact the administrator
      </div>

      <table class="table table-striped" ng-if="!vm.showBlockedWarning && vm.customers.data.length > 0 ">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in vm.customers.data">
            <td>{{customer.first_name}}</td>
            <td>{{customer.last_name}}</td>
            <td>{{customer.status}}</td>
            <td>{{customer.address.street}}-{{customer.address.city}}-{{customer.address.state}}</td>
          </tr>
        </tbody>
      </table>

    </div>

</h4>
<h4 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>