<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Test Authentication</a>
      <br>

      <button
        class="btn btn-primary btn-margin btn-block"
        ui-sref="home">
          Home
      </button>

      <h4 ng-if="vm.auth.isAuthenticated()">
        <button
        class="btn btn-success btn-margin btn-block"
        ui-sref="customer">
          Customers
        </button>
      </h4>      

      <h4 ng-if="vm.auth.isAuthenticated()">
        <button
        class="btn btn-warning btn-margin btn-block"
        ui-sref="customerhot">
          Customers Hot
        </button>
      </h4>      

      <button
        id="qsLoginBtn"
        class="btn btn-primary btn-margin btn-block"
        ng-if="!vm.auth.isAuthenticated()"
        ng-click="vm.auth.login()">
          Log In
      </button>

      <button
        id="qsLogoutBtn"
        class="btn btn-primary btn-margin btn-block"
        ng-if="vm.auth.isAuthenticated()"
        ng-click="vm.auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>
